// global colors
$clr-main: rgb(7, 60, 129);
$clr-sec: rgb(7, 50, 129);
$clr-high: rgb(252, 46, 32);
$clr-light: rgb(245, 245, 245);
$clr-dark: rgb(14, 14, 14);

// fonts
$mf: "Poppins", sans-serif;
$pf: 'Josefin Sans', sans-serif;
$sf: "Redressed", cursive;
$rf: 'Roboto', sans-serif;
$df: 'Mrs Saint Delafield', cursive;
