// 
.cart {
  width: min(85vw, 1200px);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  .cart-holder {
    display: flex;
    width: min(85vw, 1200px);
    justify-content: space-between;
    .cart-filled {
      width: min(40vw, 600px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      .cart-filled-items {
        position: relative;
        width: min(40vw, 600px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        img {
          width: min(15vw, 200px);
          height: min(15vh, 200px);
          object-fit: cover;
        }
        .dropdown {
          width: 90px;
          * {
            border-radius: 10px;
            font-size: 0.9rem;
          }
          span {
            margin-left: 5px;
          }
          .css-163w1m8-InputComponent {
              width: calc(4ch + 5px)
          }
        }
        .cart-filled-items-info {
          width: min(20vw, 300px);
          h3 {
            font-size: 1em;
          }
          .cart-delivery {
            font-weight: 600;
            text-decoration: underline;
            font-size: smaller;
          }
        }
        button {
          display: flex;
          position: absolute;
          top: 10px;
          right: -10px;
          cursor: pointer;
        }
        .cart-delete {
          width: 25px;
          height: 25px;
        }
      }
    }
    .cart-filled-summary {
      width: min(40vw, 600px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25em;
      h3 {
        font-size: 1.5rem;
      }
      // coupon is applied
      > p {
        color: green;
        font-size: smaller;
      }
      // order summary
      h3:nth-child(3) {
        margin-top: 1em;
      }
      input {
        padding: 0.5em;
        width: min(30vw, 300px);
      }
      .calc {
        width: min(30vw, 300px);
        display: flex;
        justify-content: space-between;
        .discount {
          color: $clr-high
        }
        .total {
          font-weight: 600
        }
      }
      .checkout-btn {
        @include slideSolidBtn;
        margin-top: 1em;
      }
    }
  }
  }

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min(60vh);
  width: min(85vw, 1200px);
  img {
    width: min(15vw, 300px);
  }
  .home-btn {
    @include slideSolidBtn;
    margin-top: 1em;
  }
}

@media (max-width: 480px) {
  .cart {
    .cart-holder {
      display: flex;
      flex-direction: column;
      width: min(85vw, 1200px);
      justify-content: center;
      align-items: center;
      gap: 2em;
      .cart-filled {
        width: min(85vw, 600px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        .cart-filled-items {
          width: min(85vw, 600px);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          img {
            width: min(30vw, 200px);
            height: min(15vh, 200px);
            object-fit: cover;
          }
          .cart-filled-items-info {
            width: min(55vw, 400px);
          }
        }
      }
      .cart-filled-summary {
        width: min(85vw, 600px);
        justify-content: center;
        align-items: left;
        gap: 0.25em;
        input {
          text-indent: 0.5em;
          width: min(85vw, 600px);
        }
        .calc {
          width: min(85vw, 600px);
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}