.cat-holder {
  width: min(85vw, 1200px);
  margin: 1em 0;
  > h4 {
    margin-bottom: 1em;
    font-weight: 300;
  }
  .product-holder {
    display: flex;
    margin: 2em 0;
    .product-card {
      width: min(20vw, 300px);
      height: min(40vh, 600px);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      box-shadow: 0px 0px 1px 0px gray;
      padding: 0.5em;
      .discount {
        position: absolute;
        top: 10px;
        left: 10px;
        h5 {
          color: $clr-high;
        }
      }
      .product-img {
        width: min(15vw, 200px);
        height: min(25vh, 300px);
        object-fit: cover;
        cursor: pointer;
      }
      .product-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: left;
        h5 {
          font-weight: 500;
        }
        .product-title{
          cursor: pointer;
          font-family: $rf;
          font-weight: 400;
          font-size: 1.2rem;
        }
        .product-price{
        }
        .product-price-com {
          display: flex;
          gap: 0.5em;
          .product-newprice{
            color: $clr-high;
          }
          .product-oldprice{
            text-decoration: line-through;
            color: gray;
          }
        }
      }
      button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        border-color: transparent;
        cursor: pointer;
        img {
          width: 3vw;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .cat-holder {
    .product-holder {
      .product-card {
        width: min(20vw, 300px);
        height: min(30vh, 600px);
        .product-img {
          width: min(15vw, 200px);
          height: min(15vh, 300px);
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .cat-holder {
    .product-holder {
      flex-wrap: wrap;
      .product-card {
        width: min(40vw, 300px);
        height: min(30vh, 600px);
        .product-img {
          width: min(30vw, 200px);
          height: min(15vh, 300px);
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}