// footer
.App-footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $clr-main;
  * {
    color: $clr-light;
  }
  .footer-top-pane {
    width: 100vw;
    background: $clr-sec;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: start;
    .footer-main-section{
      width: min(30vw, 400px);
      padding: 1em;
      p {
        cursor: pointer;
      }
    }
    .App-logo-footer {
      width: 50px;
    }
  }
  .footer-bottom-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clr-dark;
    padding: 1em;
  }
}

@media (max-width: 440px) {
  .App-footer {
    .footer-top-pane {
      padding: 0.5em;
    }
    .footer-main {
      .footer-main-section{
        width: min(30vw, 400px);
        padding: 1em;
        p {
          cursor: pointer;
          font-size: 0.6rem;
        }
        h4 {
          font-size: 0.8rem;
        }
      }
      .App-logo-footer {
        display: none;
      }
    }
    .footer-bottom-pane {
      p {
        font-size: 0.7rem;
      }
    }
  }
}