@import './components/shipping';
@import './components/payment';

.checkout {
  width: min(85vw, 800px);
  padding: 1em;
  margin-bottom: 2em;
  .checkout-wizard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
    .checkout-wizard-step{
      display: flex;
      gap: 1em;
      padding: 1em;
      background: $clr-high;
      border-radius: 10px;
      box-shadow: $boxShadow;
      p {
        color: $clr-light;
      }
    }
  }
}