.coupons {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  > h2 {
    margin-bottom: 1em;
    color: $clr-sec;
  }
  .coupons-create-btn {
    @include slideClrBtn($grd-sec, $clr-main);
    width: 200px;
    margin: 0 0 2em 1em;
    padding: 1em;
    > p {
      color: $clr-light;
    }
  }
  .coupons-table-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    .coupons-table-actions {
      overflow: visible;
      .react-dropdown-select {
        width: max-content;   
        border-radius: 10px;
        margin-left: auto;
        .react-dropdown-select-dropdown {
          width: max-content;    
          border-radius: 10px;  
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .coupons {
    padding: 0em;
    gap: 0em;
  }
}