.dashboard-section {
  > h2 {
    margin-bottom: 1em;
    color: $clr-sec;
  }
  .dashboard-section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50vw;
    }
  }
  .sales-chart-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sales-chart {
      width: min(90vw, 800px);
    }
  }
}


@media (max-width: 600px) {
}