.dashboard-section {
  > h2 {
    margin-bottom: 1em;
    color: $clr-sec;
  }
  .dashboard-section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50vw;
    }

  }
}


@media (max-width: 440px) {
  .dashboard-section {
  }
}