.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  .user-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .user-reviews {
    .user-reviews-card {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}