.dash-products-create {
  > h2 {
    margin-bottom: 1em;
    color: $clr-sec;
  }
  .dash-products-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    .dash-products-form {
      padding: 1em;
      background: white;
      width: min(70vw, 700px);
      display: flex;
      flex-direction: column;
      gap: 1em;
      border-radius: 10px;
    }
    input {
      height: 40px;
      border-radius: 10px;
    }
  }
}