.dashboard-section {
  > h2 {
    margin-bottom: 1em;
    color: $clr-sec;
  }
  .summary-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    .summary-card {
      width: min(30vw, 400px);
      height: 150px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0.5em;
      background: white;
      border-radius: 10px;
      img {
        height: 80px;
      }
    }
  }
}