.file-uploader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  #file-uploader-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    input {
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
    }

  }
  #file-uploader-input-btn {
    width: 70px;
  }
}

@media (max-width: 440px) {
  .file-uploader {
    #file-uploader-input {
      gap: 0em;
      flex-direction: column;
      input {
        width: 100%;
      }
  
    }
    #file-uploader-input-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 30px;
    }
  }
}