.order-details {
  width: min(80vw, 800px);
  background: white;
  padding: 2em;
  box-shadow: $boxShadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .order-details-contact {
    display: flex;
    gap: 2em;
    padding: 1em;
    margin-top: 1em;
  }
  .order-details-address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    .order-details-address-card {
      width: min(80vw, 400px);
      border: $border;
      border-radius: 10px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
  .order-details-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  table {
    box-shadow: none;
  }
  .order-details-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    table {
      text-align: center;
      width: 66%;
    }
  }
  .place-order-btn {
    display: flex;
    justify-content: center;
  }
  button {
    @include slideSolidBtn($clr-light);
    width: 20%;
    padding: 1em;
    margin: 1em 0;
    box-shadow: $boxShadow;
  }
}


@media (max-width: 440px) {
  .order-details {
    width: 90vw;
    padding: 1em;
    .order-details-contact {
      flex-direction: column;
      gap: 0.5em;
    }
    .order-details-address {
      flex-direction: column;
      gap: 1em;
      .order-details-address-card {
        width: 80vw;
        border: $border;
        border-radius: 10px;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
    .order-details-items {
      padding: 0em;
      overflow: auto;
    }
    .order-details-payment {
      table {
        width: 100%;
      }
    }
    button {
      width: 100%;
      padding: 1.5em;
    }
  }
}