/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

/* fonts */
P {
  font-family: "Poppins";
  font-size: 1rem;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

// tabels
table {
  width: min(80vw, 1200px);
  background: white;
  box-shadow: $boxShadow;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  position: relative;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout:fixed;
  a {
    font-size: 0.8rem;
    color: $clr-high;
  }
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
  }
  tr {
    border: $border;
    outline: thin solid;
    outline-color: rgb(128, 128, 128, 0.3);
    border-radius: 10px;
  }
  td, th {
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}



@media (max-width: 800px) {
    /* fonts */
  P {
    font-family: "Poppins";
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  // tabels
  table {
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      white-space: normal;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    thead {
      display: none;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
  }
}



@media (max-width: 440px) {
    /* fonts */
  P {
    font-family: "Poppins";
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  // tabels
  table {
    width: 95vw;
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
      white-space: normal;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    thead {
      display: none;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
  }
}
