/* header */
.App-header {
  height: 185px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: $grd-main;
  color: $clr-light;
  /* top pane */
  .top-pane {
    width: 100vw;
    background: $clr-sec;
    display: flex;
    justify-content: center;
    .top-pane_info {
      width: min(85vw, 1200px);
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 0.5em;
      background: $clr-sec;
      p{
        color: $clr-light;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }
  /* bottom pane */
  .bottom-pane {
    width: 100vw;
    display: flex;
    justify-content: center;
    * {
      color: $clr-light;
    }
    .App-title {
      display: flex;
      gap: 1em;
      .App-logo {
        width: 60px;
      }
    }
    .bottom-pane_info {
      position: relative;
      width: min(85vw, 1200px);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin: 0.5em 0;
      .header-cart {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        .cart-logo {
          width: 50px;
          cursor: pointer;
        }
        .cart-counter {
          position: absolute;
          top: -7px;
          right: -6px;
          display: flex;
          background-color: $clr-light;
          width: 5px;
          height: 5px;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding: 0.7em;
          border-radius: 10px;
          color: $clr-high;
          font-weight: 500;
        }
      }
      .header-search {
        .header-search-bar {
          width: min(25vw, 500px);
          padding: 1em;
          text-indent: 1em;
          border-radius: 20px;
          color: black;
        }
        .header-search-results {
          position: absolute;
          bottom: -10;
          width: min(25vw, 500px);
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 0.5em;
          background: white;
          padding: 1em;
          z-index: 10;
          cursor: pointer;
          * {
            color: $clr-dark;
            font-size: 0.9rem;
          }
          p {
            color: gray;
            font-size:x-small;
          }
          > div {
            transition: 0.3s ease;
            width: 100%;
            &:hover, &:active {
              transform: scale(1.005);
              background: $clr-light;
            }
          }
        }
      }
      .header-account-holder {
        position: relative;
        .header-account {
          display: flex;
          gap: 0.25em;
          img {
            width: 35px;
            cursor: pointer;
          }
          .header-account-account {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > p {
              margin-bottom: -12px;
              white-space: nowrap;
            }
          }
        }
        .header-account-li {
          position: absolute;
          left: 20%;
          background: white;
          width: max-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          gap: 1em;
          padding: 1em;
          border-radius: 10px;
          z-index: 10;
          button {
            cursor: pointer;
            background: $grd-main;
            width: 90px;
            padding: 0.5em;
          }
          h5 {
            color: $clr-dark;
            cursor: pointer;
          }
        }
      }
      h1, h3 {
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }
  
  /* navbar */
  .navbar {
    position: relative;
    display: flex;
    gap: 1em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    box-shadow: $boxShadow;
    z-index: 10;
    .navbar-item {
      font-weight: 200;
      cursor: pointer;
    }
    &:hover ~ .subNavbar {
      transform: translate(0);
      visibility: visible;
    }
  }

  // sub nav
  .subNavbar {
    width: 100vw;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    box-shadow: $boxShadow;
    transform: translateY(-35px);
    z-index: -20;
    transition: 0.5s ease, visibility 0.1s;
    // visibility: hidden;
    .navbar-item {
      font-weight: 200;
      font-size: 1.3rem;
      cursor: pointer;
    }
    &:hover {
      transform: translate(0);
      visibility: visible;
    }
  }

}


@media (max-width: 1000px)  {
  .App-header {
    height: max-content;
    .subNavbar {
      gap: 0.5em;
      transform: translate(0);
      .navbar-item {
        font-size: 1rem;
      }
    }
  }
}


@media (max-width: 440px)  {
  .App-header {
    position: fixed;
    justify-content: center;
    height: 10vh;
    z-index: 10;
    .top-pane {
      display: none;
    }
    .bottom-pane {
      align-items: center;
      width: 100%;
      // padding: 1em;
      .App-title {
        justify-content: center;
        gap: 0.5em;
        margin-right: 2em;
        h1 {
          font-size: 1.5rem;
        }
        .App-logo {
          width: 35px;
        }
      }
    .bottom-pane_info{
      height: 8vh;
      .header-cart{
        width: 40px;
        height: 40px;
        .cart-counter{
          top: -5px;
          right: -4.5px;
          width: 3px;
          height: 3px;
          font-size: 0.8rem;
        }
      }
        .header-search {
          display: none;
          .header-search-bar {
            width: min(85vw);
          }
          .header-search-results {
            width: min(85vw);
            transition: 1s;
          }
        }
        .header-account-holder {
          .header-account {
            img {
              width: 40px;
            }
            img:nth-child(3) {
              display: none;
            }
            .header-account-account {
              display: none;
            }
          }
          .header-account-li {
            left: -40px;
          }
        }
      }
    }
    h1 {
      margin-bottom: -15px;
      font-weight: 700;
    }
    .navbar, .subNavbar, h3 {
      display: none;
    }
  }
}