@import './shipping';
@import './payment';
@import './orderPreview';

.checkout {
  width: min(85vw, 800px);
  padding: 1em;
  margin-bottom: 2em;
  .checkout-wizard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
    .checkout-wizard-step{
      display: flex;
      gap: 1em;
      padding: 1em;
      background: $clr-high;
      border-radius: 10px;
      box-shadow: $boxShadow;
      p {
        color: $clr-light;
      }
    }
  }
}


@media (max-width: 440px) {
  .checkout {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .checkout-wizard {
      gap: 1px;
      padding: 2em 0;
      .checkout-wizard-step {
        // width: 25vw;
        p {
          white-space: nowrap;
          font-size: 0.7rem;
        }
      }
    }
  }
}