.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 2em;
  .product-holder{
    position: relative;
    display: flex;
    gap: 2em;
    img {
      border-radius: 20px;
      width: min(40vw, 600px);
      height: min(60vh);
      object-fit: cover;
    }
    .product-info {
      width: min(40vw, 600px);
      .product-discount{
        position: absolute;
        right: 0;
        top: 0;
        transform: rotateZ(25deg);
        color: $clr-high;
      }
      .product-info-desc {
        margin: 1em 0;
      }
      .product-price-holder {
        display: flex;
        gap: 1em;
        padding: 1em;
        .product-price {
          padding: 0.6em;
          background: #073c8119;
          width: max-content;
          border-radius: 10px;
          font-size: 1.4rem;
          color: rgb(31, 171, 31);
        }
        .product-price-savings{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          h5 {
            color: $clr-high;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      button {
        border-radius: 10px;
        padding: 1em;
        margin-top: 1em;
        background: $grd-main;
        width: 130px;
        cursor: pointer;
        p {
          color: $clr-light;   
        }
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
  .product-more-info {
    width: min(85vw, 1300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    .product-more-info-header {
      display: flex;
      gap: 2em;
      h4 {
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 10px;
      }
    }
    .product-more-info-desc {
      flex-direction: column;
      gap: 2em;
      padding: 2em 0;
      display: none;
    }
    .product-more-info-desc.active {
      display: flex;
    }
    .product-more-info-reviews {
      display: none;
      flex-direction: column;
      gap: 2em;
      padding: 2em;
      .product-more-info-reviews-card {
        display: flex;
        gap: 2em;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .product-more-info-reviews.active {
      display: flex;
    }
  }
}

@media (max-width: 480px) {
  .product {
    gap: 3em;
    .product-holder{
      flex-direction: column;
      img {
        width: min(85vw, 600px);
      }
      .product-info {
        width: min(85vw, 600px);
        .product-discount{
          right: 10px;
          top: 10px;
        }
        button {
          margin-top: 1em;
          img {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
    .product-more-info {
      padding: 0;
      .product-more-info-reviews {
        padding: 2em 0;
      }
    }
  }
}