@import './Checkout/checkout.scss';
@import './cart';
@import './product';
@import './search';
@import './review';
@import './support';
@import './category';

// main
.App-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .ad-image {
    object-fit: cover;
    width: min(90vw, 1200px);
    padding: 0.5em;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .App-main {
    > div {
      margin-top: 6em;
    }
    .ad-image {
      object-fit: cover;
      width: 85vw;
      padding: 0.5em 0;
      border-radius: 20px;
    }
  }
}